.player-1 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: linear-gradient(108.18deg, #201606 2.5%, #000000 99.8%);
    display: flex;
    flex-direction: row;
    padding: 32.5px 2% 15px 2%; /* Changed padding for responsiveness */
    width: 100vw; /* Fills the full width of the viewport */
    height: 100vh; /* Fills the full height of the viewport */
    box-sizing: border-box;
}

  
.player-1 .container {
    position: relative;
    opacity: 0.6;
    margin: 0 2% 17px 0; /* Changed margin to percentage */
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #FFFFFF;
    width: 10%; /* Changed width to percentage */
    height: fit-content;
    box-sizing: border-box;
}

.player-1 .logo {
    margin: 0 0 743.1px 0.9px;
    display: flex;
    width: 133.4px;
    height: 40px;
    box-sizing: border-box;
}

.player-1 .spotify-logo {
    width: 131.5px;
    height: 39.4px;
  }

  .player-1 .profile {
    border-radius: 24px;
    background: url('assets/images/Profile.png') 50% / cover no-repeat, linear-gradient(#151515, #151515);
    align-self: flex-start;
    width: 48px;
    height: 48px;
  }


  .player-1 .sidebar {
    position: relative;
    margin: 7.5px 3% 0 0; /* Changed margin to percentage */
    display: flex;
    flex-direction: column;
    width: 28%; /* Changed width to percentage */
    height: fit-content;
    box-sizing: border-box;
}


  .player-1 .frame-33 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .player-1 .frame-33 {
    margin: 0 16px 32px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 258px;
    box-sizing: border-box;
  }

  .player-1 .title {
    margin-right: 16px;
    width: 88px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    color: #FFFFFF;
  }

  .player-1 .title-1 {
    opacity: 0.5;
    margin-right: 0px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    color: #FFFFFF;
  }

  .player-1 .search {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    margin: 0 16px 40px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    width: 400px;
    box-sizing: border-box;
  }



  .player-1 .search-song-artist {
    opacity: 0.6;
    margin: 2px 14px 2px 0;
    display: inline-block;
    width: 165px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    color: #FFFFFF;
  }

  .player-1 .frame {
    opacity: 0.4;
    display: flex;
    padding: 6.3px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }

  .player-1 .search-icon {
    width: 19.3px;
    height: 19.3px;
  }

  .player-1 .list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 432px;
    box-sizing: border-box;
  }
  
  .player-1 .list-item-01 {
    border-radius: 8px;
    margin: 0 16px 32px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 432px;
    box-sizing: border-box;
  }

  .player-1 .frame-41 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .player-1 .image-41 {
    border-radius: 56px;
    background:  50% / cover no-repeat;
    margin-right: 16px;
    width: 48px;
    height: 48px;
  }

  .player-1 .frame-31 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    box-sizing: border-box;
  }

  
  .player-1 .song-name-style {
    margin-right: 16.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #FFFFFF;
  }
  .player-1 .artist-name-style {
    opacity: 0.6;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: #FFFFFF;
  }
  .player-1 .container-2 {
    opacity: 0.6;
    margin: 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #FFFFFF;
  }


  .player-1 .sidebar {
    position: relative;
    margin: 7.5px 3% 0 0; /* Changed margin to percentage */
    display: flex;
    flex-direction: column;
    width: 28%; /* Changed width to percentage */
    height: fit-content;
    box-sizing: border-box;
}


  .player-1 .song-info {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }

  .player-1 .viva-la-vida {
    margin-bottom: 8px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.125;
    color: #FFFFFF;
  }
  .player-1 .coldplay {
    opacity: 0.6;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
  }

  .player-1 .center {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    box-sizing: border-box;
  }


  .player-1 .cover {
    border-radius: 8px;
    background: url('assets/images/Image42.png') 50% / cover no-repeat;
    margin-bottom: 24px;
    width: 480px;
    height: 480px;
  }

  .player-1 .seeker {
    opacity: 0.2;
    border-radius: 16px;
    background: #FFFFFF;
    position: relative;
    width: 480px;
    height: 6px;
    box-sizing: border-box;
  }
  .player-1 .rectangle-7 {
    border-radius: 16px;
    background: #FFFFFF;
    width: 200px;
    height: 6px;
  }

  .player-1 .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .player-1 .group-7 {
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 1.1px;
    display: flex;
    padding: 21.6px 14.4px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }
  .player-1 .frame-1 {
    display: flex;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .player-1 .options-button {
    width: 19.2px;
    height: 4.8px;
  }


  .player-1 .frame-91 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Add space between buttons */
  }
  
  .player-1 .frame-2,
  .player-1 .frame-3,
  .player-1 .frame-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;  /* Set width */
    height: 32px;  /* Set height */
    box-sizing: border-box;
  }
  
  .player-1 .previous-button {
    transform: scaleX(-1);  /* Flip the button */
    width: 24px;
    height: 16px;
  }
  
  .player-1 .play-button {
    width: 48px;
    height: 48px;
  }
  
  .player-1 .pause-button {
    border-radius: 56px;
    background: #FFFFFF;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    padding: 16px 16px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }
  
  
  
  .player-1 .next-button {
    width: 24px;
    height: 16px;
  }
  
  
  /* dfdfdfdf */
  
  
  .player-1 .frame-5 {
    border-radius: 72px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 1.1px;
    display: flex;
    padding: 16px 14px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }
  .player-1 .sound-button {
    width: 20px;
    height: 16px;
  }